.container {
  display: flex;
  margin: 5% 15%;
  flex-wrap: wrap;
  justify-content: center;
}
.service {
  display: flex;
  width: 45%;
  min-width: 450px;
  padding: 10px;
  margin: 20px;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  @media (max-width: 1000px) {
    width: 80%;
    max-width: 450px;
  }
}
.service-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service-header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-number {
  font-size: 48px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 0.5px #ffffffbf;
}
.service-link {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 10px;

  justify-content: center;
  align-items: center;
  background-color: white;
}
.icon {
  font-size: 32px;
  color: black;
  transform: rotate(30deg);
}

.service-title {
  font-size: 36px;
}

.service-header {
  &:hover {
    .service-number {
      cursor: pointer;
      -webkit-text-stroke: 1px var(--primary-color);
    }
    .service-title {
      color: var(--primary-color);
    }
    .service-link {
      background-color: var(--primary-color);
    }
    .icon {
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
    }
  }
}

.service-description {
  margin-top: 10px;
  margin-right: 20px;
  padding: 1px;
  font-size: 15px;
  font-weight: normal;
  color: var(--text-description-color);
}
