.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  border-radius: 50%;
  width: 250px;
  height: 250px;

  @media (min-width: 1280px) {
    width: 320px;
    height: 320px;
  }
}

.svg {
  width: 248px;
  height: 248px;
  fill: transparent;

  position: absolute;

  @media (min-width: 1280px) {
    width: 320px;
    height: 320px;
  }
}
.circle {
  stroke: var(--primary-color);
}
