.input-container {
  background-color: var(--bg-color);
  padding: 5px 10px;
  margin: 10px 0;
}

.input {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}
