@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.container {
  width: 100%;
}

// icon list
.navIcon {
  cursor: pointer;
  color: var(--primary-color);
  padding: 10px;
}
.hideIcon {
  display: none;
}

.overlay {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s ease;
}
.overlay.showOverlay {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}

.nav {
  position: absolute;

  height: 100%;
  width: 70%;
  right: 0;
  top: 0;
  background-color: var(--bg-color);
  transform: translateX(100%);
  animation: slideOut 0.5s ease;
  transition: transform 0.5s ease;
  display: none;
}
.nav.showNav {
  z-index: 2;
  display: flex;
  transform: translateX(0%);
  animation: slideIn 0.5s ease;
  transition: transform 0.5s ease;
}

.closeIcon {
  position: absolute;
  color: var(--primary-color);
  padding: 20px;
  right: 0;
  cursor: pointer;
}

.closeIcon:hover {
  color: var(--primary-hover-color);
}

.navContent {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.logo {
  position: fixed;
  width: 100%;
  top: 15%;
  text-decoration: none;
  color: white;
}
.logoText {
  justify-content: center;
  text-align: center;
  width: 100%;
}
.navItemsList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.navItem {
  padding: 5px;
  text-decoration: none;
  color: white;
}
.navItem.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
