@import 'normalize.css';

:root {
  --primary-color: #0ee27c;
  --primary-hover-color: #06c649;

  --black: black;
  --white: white;
  --text-color: #333;
  --bg-color: #1c1c22;
  --bg-item-color: #27272c;
  --text-description-color: rgba(255, 255, 255, 0.6);
  // Default layout
  --default-layout-header-height: 60px;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/src/assets/fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Atkinson Mono';
  src: url('/src/assets/fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.8rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: var(--bg-color);
  color: var(--white);
}

span,
h1 {
  margin: 0;
  padding: 0;
}
